<div class="container">
  <h1>Hola este es mi primer proyecto de Angular!</h1>
  <p>{{ welcomme }}</p>
  <ul>
    <li *ngFor="let task of tasks()">
      {{task}}
    </li>
  </ul>

  <hr>

  <h2>{{ 'hola'}}</h2>
  <p>Hola soy, {{ name() }} y tengo {{ age }} </p>

  <hr>
  <img [src]="image" alt="" width="50%">
  <input type="text" [value]="name">
  <hr>
  <p>Name: {{ usuario().name }}</p>
  <p>Last Name: {{ usuario().apellido }}</p>
  <img [src]="usuario().avatar" alt="user avatar image">

  <hr>
  <h2>Event Binding</h2>
  <button (click)="clickHandler()">Click to alert</button>
  <button (dblclick)="clickHandler()">Dobule click me</button>
  <input type="number" name="" id="" [value]="usuario().age" (change)="changeHandler($event)">

  <hr>
  <p>Keydown</p>
  <input type="text" name="" id="" placeholder="Ingresa tu nombre" (keydown)="keyDownHandler($event)">

  <p>Keydown con atajo de teclado</p>
  <input type="text" placeholder="shift+t activa " (keydown.shift.t)="clickHandler()">

<hr>

<h1>Signals</h1>
  <input type="text"   (change)="changeHandler($event)">
  <p>{{ name() }}</p>

  <hr>
  <p>Directivas de control</p>
  <ul *ngFor="let tarea of tasks(); index as i">
      {{ i }} {{ tarea }}
  </ul>
  <p>Cantidad de tareas: {{ tasks().length }}</p>
  <hr>
  <h1>NgIF</h1>
  <input type="number" [value]="usuario().age" (change)="changeAge($event)">
  <div *ngIf = "usuario().name === 'facundo' && usuario().age > 18 ; else elseblock" >
    mi nombre es {{ usuario().name}} y tengo {{ usuario().age }} soy mayor de edad.
  </div>
  <ng-template #elseblock>
    soy {{ usuario().name }} y soy menor de 18
  </ng-template>
  <p>{{usuario().name}}</p>
  <p>{{ usuario().age }}</p>
  <hr>
  <h2>NgSwitch</h2>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'facundo'"> yo soy facu </p>
    <p *ngSwitchCase="'ezequiel'">yo soy eze</p>
    <p *ngSwitchCase="'sofia'">yo soy sofia</p>
    <p *ngSwitchDefault>no es nadie</p>
  </div>
  <hr>
  <h3>Forms controls</h3>
  <input type="color" [formControl]="colorCtrl">
  <p>color: {{ colorCtrl.value }}</p>
</div>
